[relaychain]
chain = "paseo-local"

[[relaychain.nodes]]
name = "alice"
validator = true

[[relaychain.nodes]]
name = "bob"
validator = true

[[parachains]]
id = 2000
default_command = "./target/release/parachain-template-node"

[[parachains.collators]]
name = "collator-01"
ws_port = 9944          # <-- fixed WebSocket port
rpc_port = 9933         # <-- fixed HTTP-RPC port
p2p_port = 30336        # <-- fixed p2p port (optional)